<html>
    <head>
        <title>Calculator</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <a href="http://127.0.0.1:5000" class="btn btn-primary" role="button"><h2>На главную</h2></a>

        <h1>Calculator</h1>
        <form action="" method="POST">
            <input type="number" value="{{a}}" name="a"/>
            +
            <input type="number" value="{{b}}" name="b"/>
            <button type="submit">Calc</button>
        </form>
        <p>Result = {{result}}</p>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
