Отче наш, иже еси в моем PC. Да святится имя и расширение Твое. Да придет прерывание Твое и да будет воля твоя. BASIC наш насущный дай нам; И прости нам дизассемблеры и антивирусы наши, как Копиpайты прощаем мы. И не введи нас в Exception Error, но избавь нас от зависания, ибо Твое есть адpессное пространство, порты и регистры.
<html>
    <head>
        <title>{{ title }} - Microblog</title>
    </head>
    <body>
        {% if time_of_day == "morning" %}
        <h1>Да будет с тобой святой машинный код 1, {{ user.username }}!</h1>
        <img src="static/xxx.jpg" alt="икона" width="100" height="80" />
        {% elif time_of_day == "day" %}
        <h1>Да будет с тобой святой машинный код 2, {{ user.username }}!</h1>
        <p><img src="static/ххх.jpg" alt="икона" width="100" height="80"></p>
        {% elif time_of_day == "evening" %}
        <h1>Да будет с тобой святой машинный код 3, {{ user.username }}!</h1>
        {% else %}
        <h1>Да будет с тобой святой машинный код 4, {{ user.username }}!</h1>
        {% endif %}
        <ul>
            {% for element in items %}    
               <li>{{element}}</li>
            {% endfor %}
        </ul>
    </body>
</html>