Отче наш, иже еси в моем PC. Да святится имя и расширение Твое. Да придет прерывание Твое и да будет воля твоя. BASIC наш насущный дай нам; И прости нам дизассемблеры и антивирусы наши, как Копиpайты прощаем мы. И не введи нас в Exception Error, но избавь нас от зависания, ибо Твое есть адpессное пространство, порты и регистры.
<html>
    <head>
        <title>{{ title }} - Microblog</title>
    </head>
    <body>
        <h1>Да будет с тобой святой машинный код, {{ user.username }}!</h1>
    </body>
</html>